<%@concepts.each do |concept|%>
<li class="ui-widget-content"><%=concept.name%></li>
<%end%>
<%="</ol><span style='position:fixed; top:40px; right:10%; color:white; z-index:300'> Found #{@concepts.length} results In bart2</span>"%>
